sources/powerloom-server/plsoap/powerloom-soap-service.wsdl

<?xml version="1.0"?>
<!-- powerloom-soap-service.wsdl,v 1.2 2010/03/05 23:58:00 tar Exp 
  WSDL file for the PowerLoom SOAP webservice. -->
<definitions name="PLSoap"
        targetNamespace="http://www.isi.edu/powerloom/"
        xmlns:pl="http://www.isi.edu/powerloom/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="http://www.isi.edu/powerloom/"
                xmlns="http://www.w3.org/2000/10/XMLSchema">
            <element name="command">
	      <complexType>
		<sequence>
		  <element name="module" type="string"/>
		</sequence>
	      </complexType>
	    </element>

	    <element name="result" type="string"/>

	    <element name="assertion">
	        <complexType>
		<sequence>
		  <element name="module" type="string"/>
		</sequence>
	      </complexType>
	    </element>

	    <element name="retraction">
	        <complexType>
		<sequence>
		  <element name="module" type="string"/>
		</sequence>
	      </complexType>
	    </element>

	    <element name="propositions">
	      <complexType>
		<sequence>
		  <element name="nresults" type="int"/>
		  <element name="proposition" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	      </complexType>
	    </element>

            <element name="ask">
	      <complexType>
		<sequence>
		  <element name="module" type="string"/>
		  <element name="options" type="string" minOccurs="0"/>
		</sequence>
	      </complexType>
	    </element>

	    <element name="answer">
	      <complexType>
		<sequence>
		  <element name="query" type="string"/>
		  <element name="result" type="string"/>
		</sequence>
	      </complexType>
	    </element>

            <element name="retrieval">
	      <complexType>
		<sequence>
		  <element name="module" type="string"/>
		  <element name="nresults" type="string" minOccurs="0"/>
		  <element name="pattern" type="string" minOccurs="0"/>
		  <element name="options" type="string" minOccurs="0"/>
		</sequence>
	      </complexType>
	    </element>

	    <element name="tuples">
	      <complexType>
		<sequence>
		  <element name="nresults" type="int"/>
		  <element name="query" type="string"/>
		  <element name="pattern" type="string"/>
		  <element name="tuple" type="string" minOccurs="0" maxOccurs="unbounded">
		    <complexType>
		      <sequence>
			<element name="nresults" type="int"/>
			<element name="item" type="string" minOccurs="1" maxOccurs="unbounded"/>
		      </sequence>
		    </complexType>
		  </element>
		</sequence>
	      </complexType>
	    </element>
        </schema>
    </types>

    <message name="CommandRequest">
        <part name="body" element="pl:command"/>
    </message>

    <message name="CommandResponse">
        <part name="body" element="pl:result"/>
    </message>

    <message name="AssertionRequest">
        <part name="body" element="pl:assertion"/>
    </message>

    <message name="AssertionResponse">
        <part name="body" element="pl:propositions"/>
    </message>

    <message name="RetractionRequest">
        <part name="body" element="pl:retraction"/>
    </message>

    <message name="RetractionResponse">
        <part name="body" element="pl:propositions"/>
    </message>

    <message name="AskRequest">
        <part name="body" element="pl:ask"/>
    </message>

    <message name="AskResponse">
        <part name="body" element="pl:answer"/>
    </message>

    <message name="RetrievalRequest">
        <part name="body" element="pl:retrieval"/>
    </message>

    <message name="RetrievalResponse">
        <part name="body" element="pl:tuples"/>
    </message>

    <portType name="PLSoapPortType">
        <operation name="Command">
            <input message="pl:CommandRequest"/>
            <output message="pl:CommandResponse"/>
        </operation>
        <operation name="Assertion">
            <input message="pl:AssertionRequest"/>
            <output message="pl:AssertionResponse"/>
        </operation>
        <operation name="Retraction">
            <input message="pl:RetractionRequest"/>
            <output message="pl:RetractionResponse"/>
        </operation>
        <operation name="Ask">
            <input message="pl:AskRequest"/>
            <output message="pl:AskResponse"/>
        </operation>
        <operation name="Retrieval">
            <input message="pl:RetrievalRequest"/>
            <output message="pl:RetrievalResponse"/>
        </operation>
    </portType>

    <binding name="PLSoapBinding" type="pl:PLSoapPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Command">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="body"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Assertion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="body"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Retraction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="body"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Ask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="body"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Retrieval">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="body"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PLSoapService">
        <port name="PLSoapPort" binding="pl:PLSoapBinding">
            <soap:address location="/ploom/soap-rpc/powerloom-soap-service"/>
        </port>
    </service>

</definitions>
